#tabella-esercizi{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: #dee6f0;
}
p {
    margin: auto;
    padding: 2px 0 2px 0;
    width: 70%;
    min-width: 94.5px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #27c1e7;
    font-weight: 600;
}
a:hover{
    text-decoration: underline;
}
a:visited {
    color: #1a89dd;
}
table, table tr {
    border-color: black !important;
}
p.color1 {
    background-color: #1e90ff;
    color: white;
}
p.color2 {
    background-color: #2ed573;
    color: white;
}
.no-style {
    font-weight: normal;
}
footer {
    height: 120px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    background-color: #f1f1f1;
    box-shadow: -2px -1px 10px 0px black;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 1.5% 5px;
}
.footer {
    /* vertical-align: middle; */
    height: 100%;
}
.icone-interne {
    margin-left: auto;
    margin-right: auto;
}
.col {
    height: 100%;
}
div.center {
    height: 100%;
}
div.center img{
    height: 100%;
}