#tabella-esercizi{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: #a5e6eb;
}
p {
    margin: auto;
    padding: 2px 0 2px 0;
    width: 70%;
    min-width: 94.5px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #27c1e7;
    font-weight: 600;
}
a:hover{
    text-decoration: underline;
}
a:visited {
    color: #1a89dd;
}
table, table tr {
    border-color: black !important;
}
p.color1 {
    background-color: #1e90ff;
    color: white;
}
p.color2 {
    background-color: #2ed573;
    color: white;
}