.show-dropdown p{
    font-weight: bold;
    color: rgb(255, 102, 0);
}
a {
    text-decoration: none;
}
.show-dropdown:hover p{
    text-decoration: underline;
}
/* .show-dropdown:focus + .drop {
    display: block;
} */
.drop {
    display: none;
    /* background-color: white; */
}
body {
    background-color: rgb(221, 221, 221);
}
:target {
    display: block;
    -webkit-animation: slide 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    box-shadow: 0 1px 5px 0px black;
    padding: 5px 1%;
}
@-webkit-keyframes slide {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}
@keyframes slide {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}
.corpo {
    margin: 10px auto 0 auto;
    border: 2px solid grey;
    width: 70%;
    padding: 3px 30px;
}
.domanda {
    width: 100%;
    border-bottom: 2px solid grey;
}